<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <p>username : <%= post.username %> </p>
        <textarea name="content" , placeholder="Enter new content" rows="10" cols="40"><%= post.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>